.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #a5a2a2;
  font-size: 1.5em;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.hero {
  width: 100vw;
  height: 95vh;
  background-image: url(../assets/backgroundHero.png);
  background-position: 50%;
  background-size: cover;
  &__content {
    position: absolute;
    top: 48%;
    left: 0;
    padding: 20px;
    height: calc(50% - 20px);
    width: 100%;
    &__first {
      position: absolute;
      bottom: 5%;
      right: 10%;
      text-transform: uppercase;
      font-size: 5em;
    }
  }
}

.about {
  margin: 50px;
  &__description {
    &__h2 {
      font-size: 1.8em;
    }
    &__content {
      &__paragraph {
        margin-top: 90px;
        font-weight: lighter;
      }
    }
  }
}

.tastySection {
  &__images {
    &__img {
      background-size: cover;
      background-position: 50%;
      width: 100%;
      margin: 40px 0;
    }
  }

  &__text {
    color: rgb(253, 219, 63);
    text-align: center;
    font-size: 5em;
    font-weight: bold;
  }
}

.located {
  background-color: #7b5300;
  margin-left: -50px;
  display: grid;
  gap: 50px;
  &__content {
    color: rgb(221, 218, 214);
    padding: 0 30px;
    &__paragraph {
      font-weight: lighter;
    }
    &__third {
      background-image: url("../assets/oats.png");
      background-position: 50%;
      background-size: cover;
      height: 600px;
    }
  }
  &__h2 {
    color: #efefef;
    padding: 35px 0;
  }
}

.delivery {
  &__img {
    width: 100%;
    background-image: url("../assets//deliveryImg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 576px;
    margin-top: 40px;
  }
  &__info {
    &__img {
      width: 157px;
      height: 156px;
      margin: 60px 0;
    }
  }
}
.break {
  width: calc(100% + 100px);
  height: 700px;
  background-image: url(../assets/breakImg.png);
  background-position: center;
  background-size: cover;
  margin-left: -50px;
  margin-top: 30px;
}

.chef {
  display: grid;
  grid-template-rows: 1.2fr 1fr 1fr;
  background-color: #7b5300;
  margin-left: -50px;
  font-weight: lighter;
  &__img {
    background-image: url(../assets/headChiefImg.png);
    background-size: cover;
    background-position: center;
  }
  &__main {
    padding: 10px 30px;
    padding-left: 35px;
    font-size: 0.9em;

    &__h2 {
      letter-spacing: 1px;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 1.7em;
    }
    &__h4 {
      margin: 30px 0;
      font-weight: lighter;
    }
  }
  &__description {
    padding: 10px 30px;
    padding-left: 35px;
    font-size: 0.9em;
  }
}

.desktop_break {
  display: none;
}
.mobile_break {
  display: block;
}
