* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  background-color: #000;
  color: #efefef;
}

.header__content {
  color: rgb(253, 219, 63);
}

.black_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(129, 106, 1);
  text-decoration: none;
  color: #efefef;
  width: 125px;
  height: 30px;
  font-weight: bold;
  margin: 22px 0;
  font-size: 0.8em;
  padding: 10px;
  background-color: #000;
  color: rgb(253, 219, 63);
}

.yellow_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(129, 106, 1);
  text-decoration: none;
  color: #efefef;
  width: 125px;
  height: 30px;
  font-weight: bold;
  margin: 22px 0;
  font-size: 0.8em;
  padding: 10px;
  color: #efefef;
  background-color: #7b5300;
}

.center {
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #a5a2a2;
  font-size: 1.5em;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
}

.hero {
  width: 100vw;
  height: 95vh;
  background-image: url(../assets/backgroundHero.png);
  background-position: 50%;
  background-size: cover;
}
.hero__content {
  position: absolute;
  top: 48%;
  left: 0;
  padding: 20px;
  height: calc(50% - 20px);
  width: 100%;
}
.hero__content__first {
  position: absolute;
  bottom: 5%;
  right: 10%;
  text-transform: uppercase;
  font-size: 5em;
}

.about {
  margin: 50px;
}
.about__description__h2 {
  font-size: 1.8em;
}
.about__description__content__paragraph {
  margin-top: 90px;
  font-weight: lighter;
}

.tastySection__images__img {
  background-size: cover;
  background-position: 50%;
  width: 100%;
  margin: 40px 0;
}
.tastySection__text {
  color: rgb(253, 219, 63);
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}

.located {
  background-color: #7b5300;
  margin-left: -50px;
  display: grid;
  gap: 50px;
}
.located__content {
  color: rgb(221, 218, 214);
  padding: 0 30px;
}
.located__content__paragraph {
  font-weight: lighter;
}
.located__content__third {
  background-image: url("../assets/oats.png");
  background-position: 50%;
  background-size: cover;
  height: 600px;
}
.located__h2 {
  color: #efefef;
  padding: 35px 0;
}

.delivery__img {
  width: 100%;
  background-image: url("../assets//deliveryImg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 576px;
  margin-top: 40px;
}
.delivery__info__img {
  width: 157px;
  height: 156px;
  margin: 60px 0;
}

.break {
  width: calc(100% + 100px);
  height: 700px;
  background-image: url(../assets/breakImg.png);
  background-position: center;
  background-size: cover;
  margin-left: -50px;
  margin-top: 30px;
}

.chef {
  display: grid;
  grid-template-rows: 1.2fr 1fr 1fr;
  background-color: #7b5300;
  margin-left: -50px;
  font-weight: lighter;
}
.chef__img {
  background-image: url(../assets/headChiefImg.png);
  background-size: cover;
  background-position: center;
}
.chef__main {
  padding: 10px 30px;
  padding-left: 35px;
  font-size: 0.9em;
}
.chef__main__h2 {
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.7em;
}
.chef__main__h4 {
  margin: 30px 0;
  font-weight: lighter;
}
.chef__description {
  padding: 10px 30px;
  padding-left: 35px;
  font-size: 0.9em;
}

.delivery_sf {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.delivery_sf__img {
  width: 80%;
  margin-top: 20px;
}

.desktop_break {
  display: none;
}

.mobile_break {
  display: block;
}

@media screen and (min-width: 624px) {
  .hero__content {
    height: 90%;
    top: 10%;
  }
  .hero__content__motto {
    margin-left: 30px;
  }
  .hero__content__first {
    bottom: 10%;
  }
  .about {
    margin: 100px 10%;
  }
  .about__description {
    display: flex;
    align-items: center;
  }
  .about__description__h2 {
    width: 50%;
  }
  .about__description__content {
    width: 50%;
  }
  .about__description__content__paragraph {
    margin: unset;
  }
  .tastySection {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .tastySection__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
  }
  .tastySection__images__menu {
    display: flex;
    align-items: center;
  }
  .tastySection__images__menu .tastySection__images__img {
    width: 50%;
  }
  .located {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -150px;
  }
  .located__content {
    margin: auto;
  }
  .located__h2 {
    padding: unset;
    padding-bottom: 35px;
  }
  .delivery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
  }
  .delivery__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .delivery__info__h2 {
    font-size: 2em;
  }
  .delivery__info__img {
    width: 50%;
    height: 50%;
  }
  .break {
    margin-top: 100px;
    margin-left: -150px;
    width: calc(100% + 300px);
  }
  .chef {
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr 1fr;
    height: 610px;
  }
  .chef__main, .chef__description {
    margin: auto;
    margin-top: 230px;
    line-height: 20px;
  }
  .delivery_sf {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: -50px;
  }
  .delivery_sf__h2 {
    line-height: 150%;
    font-size: 1.8em;
    margin-bottom: 150px;
  }
  .delivery_sf__img {
    transform: translateY(-150px);
    width: 35%;
  }
  .mobile_break {
    display: none;
  }
  .desktop_break {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */